<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Poppins" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles -->
  <link href="/css/lethe.min.css" rel="stylesheet">

</head>

<body id="page-top">

{{ content }}

<div class="copyright py-4 text-center">
  <div class="container">
    <small>Copyright &copy; Lethe <noscript>2018</noscript><script>document.write(new Date().getFullYear())</script></small>
  </div>
</div>

<!-- Scroll to Top Button -->
<div class="scroll-to-top position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <img class="img-fluid" alt="" src="/img/buttons/ico_gora.png" />
  </a>
</div>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts  -->
  <script src="/js/ui.min.js"></script>
  <script src="/js/dupa.js"></script>

</body>

</html>
